
/*Starter pack*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

.supp-puces{list-style-type:none;}  /* supprimer les puces*/

.logo{
    width: 90px;
}


/*Placements de texte*/

.aligner{
    text-align: center;   /*aligner le texte au centre de la page*/
}

.centrer-txt{
align-items: center;
}
.wrap{ flex-wrap:wrap;}

.droite-page{
    justify-content:flex-end
}
