
/*Starter pack*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

.supp-puces{list-style-type:none;}  /* supprimer les puces*/

.padding-10{
    padding: 10vh;
}

.btn{
    background-color: rgb(6, 14, 20);
    border-radius: 5px;
    color: rgb(253, 252, 251);
    padding:5px 15px;
    display: inline-block;
}

.txt-white{
    color: white;
}

.container-1000{
max-width: 1000px;
margin: auto;
width: 100%;
margin-left: auto;
margin-right: auto;
}

.container-1200{
    max-width: 1200px;
    background-color: rgb(177, 82, 82);
    margin: auto;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-bot-50{
margin-bottom: 50px;
}

h1{
    font-size: 35px;
}

h2{ 
font-size: 20px;

}
/*CLasses fonctionnelles Flex Box*/

.flex {
    display: flex;
    flex-wrap: wrap;
}
.justify-center { justify-content: center;}

.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.align-center {
    align-items: center;
}

/*Classes de dimensions*/

.w-100 {width:100%;}
.w-50 {width: 50%;}
.w-33{width: 33%;}
.w-25 {width: 25%;}

/*Placements de texte*/

.txt-centre{
    text-align: center;  /*aligner le texte au centre de la page*/
}
.mettez-vous-bien{flex-wrap: wrap;
flex-direction: row;
}

.centre{
    align-items: center;
    justify-content: center;
}
/* mes classes */

.colonne{
    flex-direction: column;
}
.colonne-reverse{
    flex-direction: column-reverse;
}
/* HEADER*/

header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    width: 90px;
}


/* SECTION 1*/

.section-hero{
    background-image: url(assets-interno/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    border-radius: 0px 0px 0px 150px;
}

.gold-arrow{
    color: #cda274;
}

/* SECTION 2*/



/* SECTION 3*/

.img{
    border-radius: 0px 150px 0px 50px / 0px 200px 0px 50px;
}

/* SECTION 4*/
.couleur-beige{
    background-color: #fef2e5a2;
}
.couleur-blanche{
    background-color: rgb(255, 255, 255);
}

.cadre{
    border:radius 20px;
}
/* SECTION 5*/

/* SECTION 6*/

.projet{
flex-wrap: wrap;
}
.noir{
    background-color: rgba(19, 22, 32, 0.877);
}

/* FOOTER*/
